<!DOCTYPE html>
<html>
	<head>
		<title>RPGflock</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
		
		<link rel="stylesheet" href="/static/js/sencha/sencha-touch-2.0.0-commercial/resources/css/sencha-touch.css" type="text/css">
		<script type="text/javascript" src="/static/js/sencha/sencha-touch-all.js"></script>
		<script type="text/javascript" src="/static/js/mobile.js"></script>
	</head>
	<body></body>
</html>