{% extends "base.html" %}

{% block title %} | Conventions{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<div class="row">
<h1 class="span8">Conventions</h1>
{% if user.is_authenticated %}
<div class="span4"><a href="new/" class="btn btn-success" style="float: right;">create</a></div>
{% endif %}
</div>
<ul>
{% for convention in object %}
	<li><a href="{{ convention.get_absolute_url }}">{{ convention.name }}</a></li>
{% empty %}
	<li class="empty">No publishers.</li>
{% endfor %}
</ul>
{% endblock %}