{% extends "base.html" %}

{% block title %} | Games | {{ object.name }} | Edit{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$.ajaxSetup({
		statusCode: {
			200: function(data, textStatus, jqXHR){
				// When editing via the API, you get a 200
				window.location = '/games/' + data.id + '/';
			}
		}
	});
});
</script>

<script type="text/javascript">
$(document).ready(function() {
	$('#create_dialog').modal({
		show: false,
		backdrop: true,
		keyboard: true
	});
	$('#create_dialog').on('hidden', function() {
		$('#id_publisher').focus();
	});
	$('#modal_cancel').click(function() {
		$('#create_dialog').modal('hide');
	});
	// Get new publisher form via ajax call, insert it into modal.
	$('#add_publisher').click(function() {
		$.ajax('/publishers/new/', {
			type: 'GET',
			statusCode: {
				200: function(data, textStatus, jqXHR) {
					$('#create_dialog div.modal-body').html(data);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				$('#create_dialog div.modal-body').html("<div class='alert alert-error'>" + textStatus + "</div>");
			},
			complete: function(jqXHR, textStatus) {
				$('#create_dialog').modal('show');
				$('#create_dialog').on('shown', function() {
					$('#create_dialog input:first').focus();
				});
			}
		});
	});
});
</script>
{% endblock %}

{% block main %}
<div id="create_dialog" class="modal fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Create new Publisher</h3>
	</div>
	<form method="post" action="/publishers/new/" id="create_publisher" style="margin-bottom: 0px;">
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" id="modal_cancel">cancel</a>
		<input type="submit" class="btn btn-primary" id="modal_create" value="create" />
	</div>
	</form>
</div>

<h1>Edit <em>{{ object.name }}</em></h1>
<form action="" method="post" id="create_game">
	{% include "games/_form.html" %}
	<div>
		<input type="submit" value="save" class="btn btn-primary" />
		<a href=".." class="btn btn-warning">cancel</a>
	</div>
</form>
{% endblock %}