{% extends "base.html" %}

{% block title %} | Games{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<div class="row">
<h1 class="span8">Games</h1>
{% if user.is_authenticated %}
<div class="span4"><a href="new/" class="btn btn-success" style="float: right;">create</a></div>
{% endif %}
</div>
<ul>
	{% for game in object %}
	<li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></li>
	{% empty %}
	<li class="empty">No games.</li>
	{% endfor %}
</ul>
{% endblock %}