{% extends "base.html" %}

{% block title %} | Games | New{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('#create_publisher_dialog').modal({
		show: false,
		backdrop: true,
		keyboard: true
	});
	$('#create_publisher_dialog').on('shown', function() {
		$('#modal_errors').html('');
		$('#create_publisher_dialog input:first').focus();
	});
	$('#create_publisher_dialog').on('hidden', function() {
		$('#modal_errors').html('');
		$('#id_publisher').focus();
	});
	$('#modal_cancel').click(function() {
		$('#create_publisher_dialog').modal('hide');
	});
	$('#create_publisher').click(function() {
		$('#create_publisher_dialog').modal('show');
	});
	$('#modal_form').submit(function() {
		var data = $(this).serialize();
		$.ajax('/api/publishers/', {
			type: 'POST',
			data: data,
			beforeSend: function() {
				console.log(this.data);
			},
			success: function(data, textStatus, jqXHR) {
				var new_item = $("<option value='" + data.id + "'>" + data.name + "</option>")
				$('#id_publisher').append(new_item);
				new_item.attr('selected', 'selected');
				$('#create_publisher_dialog').modal('hide');
			},
			error: function(jqXHR, textStatus, errorThrown) {
				$('#modal_errors').html('');
				if (jqXHR.responseText) {
					var errors = $.parseJSON(jqXHR.responseText);
					$.each(errors, function(i, value) {
						$.each(value, function(j, error_instance) {
							$.each(error_instance, function(k, error_message) {
								$("#modal_errors").append("<div class='alert alert-error'>" + error_message + "</div>");
							});
						});
					});
				} else {
					$("#modal_errors").append("<div class='alert alert-error'>Error communicating with the server.</div>");
				}
			}
		});
		return false;
	});
});
</script>
{% endblock %}

{% block main %}
<div id="create_publisher_dialog" class="modal fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Create new Publisher</h3>
	</div>
	<form method="post" action="/publishers/new/" id="modal_form" style="margin-bottom: 0px;">
		{# TODO: factor this form out into a partial, use an include tag. #}
		{# That'll probably also mean including the relevant javascript here. #}
	<div class="modal-body">
			<div id="modal_errors"></div>
			<label for="name">Name</label>
			<input type="text" name="name" id="publisher_name" />
			<label for="publisher_url">URL</label>
			<input type="text" name="publisher_url" id="publisher_url" />
			{% csrf_token %}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" id="modal_cancel">cancel</a>
		<input type="submit" class="btn btn-primary" id="modal_create" value="create" />
	</div>
	</form>
</div>
<h1>Create Game</h1>
<form action="" method="post">
	<fieldset class="well">
	{% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.name == "publisher" %}
		<a href="#" class="btn btn-info btn-mini" id="create_publisher">new</a>
        {% endif %}
        {% for error in field.errors %}
        <span class="alert alert-error">{{ error }}</span>
        {% endfor %}
    {% endfor %}
	{% csrf_token %}
	</fieldset>
	<div>
		<input type="submit" value="create" class="btn btn-primary" />
		<a href=".." class="btn btn-warning">cancel</a>
	</div>
</form>
{% endblock %}