{% extends "base.html" %}

{% block title %} | Games | New{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('#create_dialog').modal({
		show: false,
		backdrop: true,
		keyboard: true
	});
	$('#create_dialog').on('hidden', function() {
		$('#id_publisher').focus();
	});
	$('#modal_cancel').click(function() {
		$('#create_dialog').modal('hide');
	});
	$('#modal_form').submit(function() {
		var data = $(this).serialize();
		$.ajax('/publishers/new/', {
			type: 'POST',
			data: data,
			dataType: 'json',
			statusCode: {
				201: function(data, textStatus, jqXHR) {
					console.log(data, textStatus, jqXHR);
					// If server responds with Object Created
					var new_item = $("<option value='" + data.id + "'>" + data.name + "</option>");
					$('#id_publisher').append(new_item);
					new_item.attr('selected', 'selected');
					$('#create_dialog').modal('hide');
				},
				200: function(data, textStatus, jqXHR) {
					// If server responds with form errors
					$('#create_dialog div.modal-body').html(data);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				$('#create_dialog div.modal-body').html("<div class='alert alert-error'>" + textStatus + "</div>");
			}
		});
		return false;
	});
	$('#create_publisher').click(function() {
		$.ajax('/publishers/new/', {
			type: 'GET',
			success: function(data, textStatus, jqXHR) {
				$('#create_dialog div.modal-body').html(data);
			},
			error: function(jqXHR, textStatus, errorThrown) {
				$('#create_dialog div.modal-body').html("<div class='alert alert-error'>" + textStatus + "</div>");
			},
			complete: function(jqXHR, textStatus) {
				$('#create_dialog').modal('show');
				$('#create_dialog').on('shown', function() {
					$('#create_dialog input:first').focus();
				});
			}
		});
	});
});
</script>
{% endblock %}

{% block main %}
<div id="create_dialog" class="modal fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Create new Publisher</h3>
	</div>
	<form method="post" action="/publishers/new/" id="modal_form" style="margin-bottom: 0px;">
		{# TODO: factor this form out into a partial, use an include tag. #}
		{# That'll probably also mean including the relevant javascript here. #}
	<div class="modal-body">
		{# Fill this with an ajax call to /publishers/new/ #}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" id="modal_cancel">cancel</a>
		<input type="submit" class="btn btn-primary" id="modal_create" value="create" />
	</div>
	</form>
</div>


<h1>Create Game</h1>
<form action="" method="post">
	<fieldset class="well">
	{% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.name == "publisher" %}
		<a href="#" class="btn btn-info btn-mini" id="create_publisher">new</a>
        {% endif %}
        {% for error in field.errors %}
        <span class="alert alert-error">{{ error }}</span>
        {% endfor %}
    {% endfor %}
	{% csrf_token %}
	</fieldset>
	<div>
		<input type="submit" value="create" class="btn btn-primary" />
		<a href=".." class="btn btn-warning">cancel</a>
	</div>
</form>
{% endblock %}