<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=980">

    <title>RPGflock{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    {#<link rel="stylesheet" href="/static/css/cupertino/jquery-ui-1.8.18.custom.css" />#}
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block css %}
    {% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {#<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>#}
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/css/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/css/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/static/css/js/bootstrap-alert.js"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
<header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">RPGflock</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/events/">Events</a></li>
              <li><a href="/games/">Games</a></li>
              <li><a href="/publishers/">Publishers</a></li>
              <li><a href="/conventions/">Conventions</a></li>
              <li><a href="/demands/">Demands</a></li>
              {% if user.is_authenticated %}
              <li><a href="/settings/">{{ user.username }}</a></li>
              <li><a href="/logout/">Logout</a></li>
              {% else %}
              <li><a href="/login/">Login</a></li>
              <li><a href="/register/">Sign up</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</header>
<div id="main" role="main" class="container">
    <div class="row">
    	<div class="span12">
{% block main %}
	<p>See our <a href="events/">Events</a>, or add to our list of <a href="games/">games</a>.</p>
{% endblock %}
		</div>
    </div>
	<hr />
	<footer>
	<div class="container">
		<div class="row">
			<div class="span4">
		    	<p style="text-align: left;"><small>&copy; 2012 Transneptune Games</small></p>
		  	</div>
		  	<div class="span8">
		    <p style="text-align: right;"><a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!">
		    	<img src="http://media.djangopony.com/img/small/badge.png" width="105" height="32"
					 alt="pony powered"></a>
			</p>
			</div>
		</div>
	</div>
	</footer>
</div>
<body>
</body>
</html>