{% extends "base.html" %}

{% block title %} | Games | {{ game.name }}{% endblock %}

{% block js %}{% endblock %}

{% block css %}
<style type="text/css">
	.no-description-given {
		font-style: italic;
	}
</style>
{% endblock %}

{% block main %}
<h1>{{ game.name }}</h1>
<h2>by <a href="/publishers/{{ game.publisher.pk }}/">{{ game.publisher }}</a></h2>
{% if game.edition %}
<h3>{{ game.edition }} edition</h3>
{% endif %}
{% if game.description %}
{% else %}
<p class="no-description-given">No description given.</p>
{% endif %}
{% endblock %}