{% extends "base.html" %}

{% block title %} | Log In{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
    $('form input:first').focus();
});
</script>
{% endblock %}

{% block main %}
{% if form.errors %}
<div class="alert alert-error">Incorrect username or password.</div>
{% endif %}
<form action="/login/" method='post' class='form-inline well'>
	<input type='text' name='username' class='input-small' placeholder='Username' />
	<input type='password' name='password' class='input-small' placeholder='Password' />
	<label class="checkbox">
    	<input type="checkbox"> Remember me
  	</label>
  	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	<button type='submit' class='btn'>log in</button>
</form>
{% endblock %}
