{% extends "base.html" %}

{% block title %} | {{ object.game.name }} with {{ object.host.username }}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
<h1>{{ object.game.name }} with {{ object.host.username }}</h1>
<ul>
	<li>Start time: {{ object.start }}</li>
	<li>End time: {{ object.end }}</li>
	<li>Duration: {{ object.duration }}</li>
	<li>Minimum players: {{ object.min }}</li>
	<li>Maximum players: {{ object.max }}</li>
	{% if object.players %}
	<li>Current players:
		<ul>
			{% for player in object.players %}
			<li><a href="/users/{{ player.username }}">{{ player.username }}</a></li>
			{% endfor %}
		</ul>
	</li>
	{% else %}
	<li>No players yet.</li>
	{% endif %}
</ul>
{% if user.is_authenticated %}
	{% if user.username == object.host.username %}
<div><a class="btn btn-info" href="edit/">Edit</a> <a class="btn btn-danger" href="delete/">Delete</a></div>
	{% else %}
		{% if user.username not in players %}
		<div><a class="btn btn-info" href="join/">Join</a></div>
		{% else %}
		<div><a class="btn btn-danger" href="leave/">Leave</a></div>
		{% endif %}
	{% endif %}
{% endif %}
{% endblock %}
