{% extends "base.html" %}

{% block title %} | Events | Update{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/event-time-picker.js"></script>
<script type="text/javascript">
$(function(){
	var start = new Date("{{ form.start.value|date:'Y-m-d H:i' }}");
	var end = new Date("{{ form.end.value|date:'Y-m-d H:i' }}");
    $('form select:first').focus();
    $('#duration').slider('values', [start.getHours() + (start.getMinutes() / 60), end.getHours() + (end.getMinutes() / 60)]);
    var month = start.getMonth() + 1;
    if (month < 10) {
    	month = "0" + month;
    } else {
    	month = String(month);
    }
    var date = start.getDate();
    if (date < 10) {
    	date = "0" + date;
    } else {
    	date = String(date);
    }
    $('#id_day').val(start.getFullYear() + '-' + month + '-' + date);
    set_amount_and_hidden_fields(); // Defined in event-time-picker.js
});
</script>
{% endblock %}

{% block main %}
<form method='post' action='' class='form well'>
	{{ form.game.label_tag }}
	{{ form.game }}
	{% for error in form.game.errors %}
	<div class="alert alert-error">{{ error }}</div>
	{% empty %}{% endfor %}
	{{ form.start }}
	{% for error in form.start.errors %}
	<div class="alert alert-error">{{ error }}</div>
	{% empty %}{% endfor %}
	{{ form.end }}
	{% for error in form.end.errors %}
	<div class="alert alert-error">{{ error }}</div>
	{% empty %}{% endfor %}
	{{ form.min.label_tag }}
	{{ form.min }}
	{% for error in form.min.errors %}
	<div class="alert alert-error">{{ error }}</div>
	{% empty %}{% endfor %}
	{{ form.max.label_tag }}
	{{ form.max }}
	{% for error in form.max.errors %}
	<div class="alert alert-error">{{ error }}</div>
	{% empty %}{% endfor %}

    {% csrf_token %}
	<label for="id_day">Day</label>
    <input type="text" id="id_day" name="day" />
    <div id="duration"></div>
    <div id="amount"></div>
	<br /><button type='submit' class='btn'>update</button>
</form>
{% endblock %}