{% extends "base.html" %}

{% block title %} | Games | Create{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
    $('form input:first').focus();
});
</script>
{% endblock %}

{% block main %}
<form method='post' action='' class='form well'>
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
		<div class="alert alert-error">{{ error }}</div>
		{% empty %}{% endfor %}
    {% endfor %}
    {% csrf_token %}
	<button type='submit' class='btn'>create</button>
</form>
{% endblock %}