{% extends "base.html" %}

{% block title %} | Events | {{ event.title }}{% endblock %}

{% block js %}{% endblock %}

{% block css %}
<style type="text/css">
	.no-players {
		font-style: italic;
	}
</style>
{% endblock %}

{% block main %}
<div clas="row">
	<h1 class="span7">{{ event.title }}</h1>
	<div class="span4">
		{% if user == event.host %}
		<a href="edit/" class="btn btn-info" style="float: right;">edit</a>
		{% elif user.is_authenticated %}
		{% if user in event.players.all %}
		<a href="leave/" class="btn btn-danger" style="float: right;">leave</a>
		{% else %}
		<a href="join/" class="btn btn-success" style="float: right;">join</a>
		{% endif %}
		{% endif %}
	</div>
</div>
<div style="clear: both;"></div>
<div>
<ul>
	<li>Min: {{ event.min }}</li>
	<li>Max: {{ event.max }}</li>
	<li>Start: {{ event.start }}</li>
	<li>End: {{ event.end }}</li>
	<li>Duration: {{ event.duration }}</li>
	<li>Game: <a href="/games/{{ event.game.pk }}/">{{ event.game.name }}</a></li>
	<li>Players:
	<ul>
	{% for player in event.players.all %}
		<li>{{ player.username }}</li>
	{% empty %}
		<li class="no-players">No players.</li>
	{% endfor %}
	</ul>
	</li>
</ul>
</div>
{% endblock %}