{% extends "base.html" %}

{% block title %} | Events{% endblock %}

{% block css %}
<link rel='stylesheet' type='text/css' href='/static/js/fullcalendar/fullcalendar.css' />
{% endblock %}

{% block js %}
<script type='text/javascript' src='/static/js/fullcalendar/fullcalendar.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#calendar').fullCalendar({
		eventSources: [{
			url: '/api/events/?format=json',
			editable: false,
			allDayDefault: false
		}],
		header: {
			left: 'title',
			center: 'month,agendaWeek,agendaDay',
			right: 'today prev,next'
		},
		firstDay: 1,
		height: ($(window).height() - 250), // This is to account for the header and footer size.
		defaultView: 'agendaDay'
	});
});
</script>
{% endblock %}

{% block main %}
<div class="row">
<h1 class="span8">Events</h1>
{% if user.is_authenticated %}
<a href="new/" class="btn btn-success" style="float: right;">create</a>
{% endif %}
</div>
<div id="calendar"></div>
{% endblock %}