{% extends "base.html" %}

{% block title %} | Events{% endblock %}

{% block css %}
<link rel='stylesheet' type='text/css' href='/static/js/fullcalendar/fullcalendar.css' />
{% endblock %}

{% block js %}
<script type='text/javascript' src='/static/js/fullcalendar/fullcalendar.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#calendar').fullCalendar({
		eventSources: [{
			url: '/api/events/?format=json',
			editable: false,
			allDayDefault: false
		}],
		header: {
			left: 'title',
			center: 'month,agendaWeek,agendaDay',
			right: 'today prev,next'
		},
		firstDay: 1,
		height: ($(window).height() - 250), // This is to account for the header and footer size.
		defaultView: 'agendaDay'
	});
});
</script>
{% endblock %}

{% block main %}
<h1>Events</h1>
<p>
	This should call in FullCalendar, and also give controls for filtering by
	players, location.
</p>
<div id="calendar"></div>
{% endblock %}