{% extends "base.html" %}

{% block title %} | Publishers | {{ object.name }}{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<div class="row">
<h1 class="span8">{{ object.name }}</h1>
{% if user.is_authenticated and user.is_staff %}
<div class="span4"><a href="edit/" class="btn btn-info" style="float: right;">edit</a></div>
{% endif %}
</div>
{% if object.publisher_url %}
<h2><a href="{{ object.publisher_url }}">{{ object.publisher_url }}</a></h2>
{% endif %}
{% if object.description %}
{{ object.description }}
{% else %}
<div class="empty">No description.</div>
{% endif %}
{% if 'edit' in perms %}
<div>TODO: Edit button here.</div>
{% endif %}
{% endblock %}