{% extends "base.html" %}

{% block title %} | Publishers | New{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$.ajaxSetup({
		statusCode: {
			201: function(data, textStatus, jqXHR) {
				// Redirect to browser-UI address of new object
				// This is set here, rather than in the partial, so that the
				// partial can behave differently when called in an embedded
				// fashion.
				window.location = "/publishers/" + data.id + "/";
			}
		}
	});
});
</script>
{% endblock %}

{% block main %}
<h1>Create Publisher</h1>
<form id="create_publisher" action="{{ request.path }}" method="post">
	{% include "publishers/_form.html" %}
	<div>
		<input type="submit" value="create" class="btn btn-primary" />
		<a href=".." class="btn btn-warning">cancel</a>
	</div>
</form>
{% endblock %}